.container {
  background-color: white;
  margin: 0;
  padding: 0;
  min-width: 1050px;
}

.header {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;

  span {
    text-indent: 25px;
    font-size: 1.1em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: uppercase;

    &:hover {
      color: lightgray;
      cursor: pointer;
    }
  }
}

.mainContent {
  width: 1000px;
}

.linksBox {
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  overflow: auto;

  button {
    float: left;
    clear: both;
    color: blue;
  }
}

.h2 {
  width: 200px;
  float: left;
  margin: 15px;
  font-size: 1.25em;
  min-height: 30px;
}

.image {
  width: 200px;
  height: 200px;
  float: left;
  margin: 15px;

  &:hover {
    border: 3px solid black;
  }
}
