.container {
  margin: 0 auto;
  padding: 10px;
}

.d3Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  background-color: white;
}

.edge {
  stroke: lightblue;
}
